.link-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;

    a {
        color: #FFF;
    }

    p {
        text-align: center;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 30px;
    }
}


.title-wrapper {
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        font-family: 'Montserrat Subrayada';
        font-weight: 700;
        font-size: 72px;
    }

    h3 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 34px;
        color: #E4E3D3;
        text-transform: uppercase;
        padding-top: 1%;
        text-align: center;
    }

    h4 {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 34px;
        text-align: center;
        color: #FFF;
        padding-top: 1%;
    }

    p {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 40px;
        text-align: center;
        color: #FFF;
        letter-spacing: 1px;
    }
}